  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  .carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 300px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }


 .bg-2 {
    background: red;
    color: white;
  }
  .bg-2 h3 {color: white}
 




  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  .modal-header,  .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  .nav-tabs li a {
    color: #777;
  }  


  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 4px;
    opacity: 78;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: red !important;
  }
  .navbar-nav li.active a {
    color: black !important;
    background-color:white !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  .logo{
    font-family:fantasy;
    font-size: 35px;
  }




  footer  h4 {
    color:gray;
  }
  footer  a {
    color:black;
  }
  footer a:hover {
    color: gray;
    text-decoration: none;
  }  
  .form-control {
    border-radius: 0;
  }
  textarea {
    resize: none;
  }

  .row > .column {
  padding: 8px;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  display: none; /* Hide all elements by default */
}
.column:hover{
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.facontainer {
  position: relative;
  width: 100%;
   text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.faimage {
  display: block;
  width: 100%;
  height: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.faoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.facontainer:hover .faoverlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.fatext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  /* style for media account */

  #wrapper {
  display: inline-flex;
  
  align-items: center;
  justify-content: center;
  list-style: none;
}
.checked {
  color: orange;
}

  .fa {
   padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
   height: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-facebook {
   background: white;
  color: #3B5998;
  
}
.fa-facebook:hover {
  text-decoration: none;
  background: #3B5998;
  color: white;
   
}

.fa-twitter {
  text-decoration: none;
  background: white;
  color: #55ACEE;
}

.fa-twitter:hover {
  text-decoration: none;
  background: #55ACEE;
  color:  white;
   
}
.fa-google {
  background: white;
  color: #dd4b39;
}
.fa-google:hover {
  background: #dd4b39;
  color: white;
  text-decoration: none;
}

.fa-linkedin {
  background: white;
  color: #007bb5;
}
.fa-linkedin:hover {
  text-decoration: none;
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: white;
  color: #bb0000;
}
.fa-youtube:hover {
  text-decoration: none;
  background: #bb0000;
  color: white;

}

.fa1 {
   padding: 10px;
  font-size: 50px;
  width: 30px;

  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
   height: 30px;
}


.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 35%;
  height: 10%;
  border-radius: 30%;
  background-clip: content-box;
  padding: 30px;
  transition: 1s;
  
  
}

.social .link:hover {
  color: red;
 /* transform: rotate(360deg);*/
  transform: rotate(360deg);

}


.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.shcontainer {
  margin-top: 40px;
  overflow: hidden;
}
